[Dd]atenbank/__pycache__
/GUI/__pycache__
/Security/__pycache__
/__pycache__
.vs/
.idea/
.config
/Compile/dist/DD-Inv-Files/DD-inv.config
/DD-Inv-Files/DD-inv.config
/Compile/dist/DD-Inv-Files/DD-invBeispielDatenbank.sqlite3
/DD-Inv-Files/DD-invBeispielDatenbank.sqlite3
