############################
#### Fenster Aufloesung ####
############################

#Die Höhe des Fensters in Pixeln
hoehe:1

#Die Breite des Fensters in Pixeln
breite:1


##################################
## Regeln fuer neue Passwoerter ##
##################################

# Passwörter müssen mindestens eine Zahl enthalten
Zahlen:True

# Passwörter müssen mindestens ein Sonderzeichen enthalten
Sonderzeichen:True

# Passwörter müssen mindestens einen Grossbuchstaben enthalten
Grossbuchstaben:False

# Passwörter müssen mindestens einen Kleinbuchstaben enthalten
Kleinbuchstaben:True

# so viele zeichen müssen Passwörter mindestens enthalten
Laenge:8


############################################################
######################## Suchleiste ########################
############################################################

#
max repeated uses:10

#
max history entries:50


############################################################
##################### Admin Debug Mode #####################
############################################################

#description
Debug Mode All:False

#description
Debug Mode Normal:False
