############################################################
#################### Fenster Aufloesung ####################
############################################################

#description
breite:1080

#description
hoehe:1920


############################################################
############### Regeln fuer neue Passwoerter ###############
############################################################

#description
Laenge:8

#description
Sonderzeichen:True

#description
Zahlen:True

#description
Grossbuchstaben:True

#description
Kleinbuchstaben:True


############################################################
######################## Suchleiste ########################
############################################################

#description
max repeated uses:3

#description
max history entries:30


############################################################
##################### Admin Debug Mode #####################
############################################################

#description
Debug Mode Normal:False

#description
Debug Mode All:False


############################################################
###################### Zoom indicator ######################
############################################################

#description
Zoom indicator:1
