############################
###### Fenster Größe #######
############################
Höhe:10
Breite:10

############################
## Passwort-Anforderungen ##
############################

Großbuchstaben:true
Kleinbuchstaben:true
Zahlen:true
Sonderzeichen:true

########################
#  h h h h
####################