############################################################
#################### Fenster Aufloesung ####################
############################################################


############################################################
############### Regeln fuer neue Passwoerter ###############
############################################################


############################################################
######################## Suchleiste ########################
############################################################

#description
max repeated uses:3

#description
max history entries:30


############################################################
##################### Admin Debug Mode #####################
############################################################


############################################################
###################### Zoom indicator ######################
############################################################
